html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  
}

.bg {
  background: linear-gradient(45deg, #ebebeb 10%, #7E1618 100%);
}

.banner {
  position: relative;
  margin: 0 auto;
  min-width: 1200px;
  width: 100%;
  height: 510px;
  overflow: hidden;
  background: #ebebeb;
}

.banner .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 90px;
  z-index: 2;
 
}

.banner .title > h1 {
  font-size: 90px;
  text-transform: uppercase;
  color: #DC1A1A;
  text-shadow: 2px 2px 0 #ccc, 4px 4px 0 #ccc,
    /* end of 2 level deep grey shadow */ 6px 6px 0 #444, 8px 8px 0 #444,
    10px 10px 0 #444, 6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

.banner .title > h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #7E1618;
  
}

.hight-label {
  color: #DC1A1A;
  font-size: 48px;
  text-shadow: 2px 2px 0 #ccc, 4px 4px 0 #ccc,
  /* end of 2 level deep grey shadow */ 6px 6px 0 #444, 8px 8px 0 #444,
  10px 10px 0 #444, 6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

.banner > img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.6;
}

.section {
  padding: 64px 0;
  overflow: hidden;
  text-align: center;
}

.section:nth-child(2n) {
  background: #fff;
}

.section .img {
  margin: 0 auto;
  width: 1200px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  border-radius: 40px;
}

.section > h1 {
  font-size: 40px;
  text-shadow: 2px 1px 0 #999;
}

.menu {
  position: fixed;
  right: 20px;
  bottom: 100px;
  list-style: none;
  padding: 16px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 4px rgba(0,0,0, 0.2);
}

.menu li {
  margin: 8px 0;
}

.menu a {
  font-size: 24px;
  color: #000;
  text-decoration:none
}

.menu .actived {
  color: #7E1618;
  font-weight: bold;
}

.content {
  background: #ebebeb;
}

.content:nth-child(2n) {
  background: #fff;
}

.course {
  margin: 0 auto;
  width: 1200px;
  padding: 64px 0;
}

.sub-lable {
  margin-top: 32px;
}



.play {
  width: 1200px;
  border-radius: 40px;
  box-shadow: 4px 5px 11px #444;
  cursor: pointer;
}

.be-lable {
  margin-right: 8px;
  color: #B3454C;
  font-weight: bolder;
  font-size: 42px;
}

.be-test-box {
  margin-bottom: 24px;
  text-align: center;
}

.be-test {
  margin: 0 auto;
  width: 600px;
  border-radius: 12px;
}

.be-test-link {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}

.watefall {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 300px;
}

.col img {
  margin: 8px 0;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 4px solid #444;
}

.col img:hover {
  transform: scale(2);
  box-shadow: 4px 5px 10px #444;
}

.col:nth-child(2n) img:nth-child(2n) {
  background-color: #fff;
  padding: 64px 0;
}

.note {
  margin: 32px 0;
}

.note:nth-child(2n)  {
  margin-left: 64px;
}

 .note .photo {
  border: 1px solid #999;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.mi-get-box {
  display: block;
  text-align: center;
}

.mi-get {
  border-radius: 12px;
}

.mi-young {
  margin-top: 48px;
  border-radius: 12px;
  cursor: pointer;
}

.mi-check {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 0 #ccc, 4px 4px 0 #ccc,
    /* end of 2 level deep grey shadow */ 6px 6px 0 #444, 8px 8px 0 #444,
    10px 10px 0 #444, 6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

.list {
  display: flex;
  justify-content: space-between;
}

.list .item {
  display: block;
  width: 260px;
  text-align: center;
  line-height: 100px;
  background-color: #D27F27;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.4 ease;
}

.list .item:hover {
  box-shadow: 4px 5px 10px #444;
  transform:  scale(1.5);
}

.list .item img {
  display: block;
  margin: 16px auto;
  width: 80px;
  height: 80px;
  border-radius: 12px;
}



